@using CleaningApp.Components.Layout

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nie znaleziono</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <p role="alert">Niestety, nic tu nie ma.</p>
        </LayoutView>
    </NotFound>
</Router>